Repository wycats/algebraic: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, security, tokens

format:
  run: pnpm format {staged_files} && git add {staged_files}

lint:
  run: pnpm eslint {staged_files}

security:
  run: pnpm lint:security {staged_files}

tokens:
  run: pnpm lint:tokens

docs: add llms.txt to tooling epoch
  docs/agent-context/future/ideas.md
  docs/agent-context/plan-outline.md
Due: format, security

fix(site): polish theme builder layout and responsiveness
  docs/agent-context/changelog.md
  docs/agent-context/current/implementation-plan.md
  docs/agent-context/current/task-list.md
  docs/agent-context/current/walkthrough.md
  docs/agent-context/decisions.md
  docs/agent-context/plan-outline.md
  site/src/components/builder-v2/StudioWrapper.svelte
  site/src/components/builder-v2/stage/ComponentView.svelte
Due: format, lint, security, tokens

docs: Prepare for Phase 4 (V2 Implementation)
  docs/agent-context/current/implementation-plan.md
  docs/agent-context/current/task-list.md
  docs/agent-context/current/walkthrough.md
  docs/agent-context/plan-outline.md
  site/src/components/builder/AuditView.svelte
  site/src/components/builder/InspectorPane.svelte
  src/lib/index.ts
Due: format, lint, security

docs: Refactor utility class documentation
  docs/agent-context/utility-architecture-report.md
  site/src/content/docs/reference/tokens.md
Due: format, security

fix: correct contrast badge color logic in LuminanceSpectrum
  site/src/components/builder/LuminanceSpectrum.svelte
Due: format, lint, security

fix: add fallback background color to RangeSlider handles
  site/src/components/builder/RangeSlider.svelte
Due: format, lint, security

feat: refine LuminanceSpectrum based on design council feedback
  site/src/components/builder/LuminanceSpectrum.svelte
  site/src/components/builder/RangeSlider.svelte
Due: format, lint, security

feat: implement Lanes layout for LuminanceSpectrum
  site/src/components/builder/LuminanceSpectrum.svelte
  site/src/components/builder/RangeSlider.svelte
Due: format, lint, security

fix: resolve layout overlaps in LuminanceSpectrum
  site/src/components/builder/LuminanceSpectrum.svelte
  site/src/components/builder/RangeSlider.svelte
Due: format, lint, security

fix: polish LuminanceSpectrum visual details
  site/src/components/builder/LuminanceSpectrum.svelte
  site/src/components/builder/RangeSlider.svelte
Due: format, lint, security

feat: Fresh Eyes Simulation (Epoch 24)
  docs/agent-context/current/friction-log.md
  docs/agent-context/current/implementation-plan.md
  docs/agent-context/current/task-list.md
  docs/agent-context/current/walkthrough.md
  docs/agent-context/future/ideas.md
  docs/agent-context/plan-outline.md
  docs/design/composition-algebra.md
  docs/design/llm-context-strategy.md
  examples/axiomatic-design-color-0.1.0.tgz
  examples/smoke-test/.gitignore
  examples/smoke-test/.vscode/extensions.json
  examples/smoke-test/.vscode/launch.json
  examples/smoke-test/README.md
  examples/smoke-test/astro.config.mjs
  examples/smoke-test/color-config.json
  examples/smoke-test/package.json
  examples/smoke-test/public/favicon.svg
  examples/smoke-test/src/pages/index.astro
  examples/smoke-test/src/theme.css
  examples/smoke-test/src/theme.ts
  examples/smoke-test/tsconfig.json
  knip.ts
  package.json
  site/src/components/builder/SurfaceManager.svelte
  site/src/content/docs/guides/quick-start.mdx
  src/lib/utilities.ts
Due: format, lint, security

chore: Update project plan for Epoch 29
  docs/agent-context/current/implementation-plan.md
  docs/agent-context/current/task-list.md
  docs/agent-context/current/walkthrough.md
  docs/agent-context/decisions.md
  docs/agent-context/plan-outline.md
  lefthook.yml
Due: format, security

feat: Complete Epoch 29 (Zero-to-One Review & Fixes)
  axiomatic-design-color-0.1.0.tgz
  docs/agent-context/current/friction-log.md
  docs/agent-context/current/implementation-plan.md
  docs/agent-context/current/task-list.md
  docs/agent-context/current/walkthrough.md
  docs/agent-context/future/deferred-work.md
  docs/agent-context/future/ideas.md
  eslint.config.js
  examples/zero-to-one-simulation/.gitignore
  examples/zero-to-one-simulation/README.md
  examples/zero-to-one-simulation/color-config.json
  examples/zero-to-one-simulation/eslint.config.js
  examples/zero-to-one-simulation/index.html
  examples/zero-to-one-simulation/package.json
  examples/zero-to-one-simulation/public/vite.svg
  examples/zero-to-one-simulation/src/App.css
  examples/zero-to-one-simulation/src/App.tsx
  examples/zero-to-one-simulation/src/assets/react.svg
  examples/zero-to-one-simulation/src/index.css
  examples/zero-to-one-simulation/src/main.tsx
  examples/zero-to-one-simulation/src/theme.css
  examples/zero-to-one-simulation/src/theme.ts
  examples/zero-to-one-simulation/tsconfig.app.json
  examples/zero-to-one-simulation/tsconfig.json
  examples/zero-to-one-simulation/tsconfig.node.json
  examples/zero-to-one-simulation/vite.config.ts
  src/cli/commands/build.ts
  src/lib/browser.ts
Due: format, lint, security

feat: Complete Epoch 32 Phase 1 (DTCG Import) & Formalize Axioms
  docs/agent-context/changelog.md
  docs/agent-context/current/implementation-plan.md
  docs/agent-context/current/walkthrough.md
  docs/agent-context/decisions.md
  docs/agent-context/plan-outline.md
  docs/design/axioms.md
  docs/design/axioms/00-fundamental-theorem.md
  docs/design/axioms/06-projection.md
  docs/design/composition-algebra-changelog.md
  docs/design/composition-algebra.md
  docs/design/dtcg-import-heuristics.md
  docs/design/formal-proof-context-intent.md
  docs/design/reactive-pipeline.md
  docs/design/token-reorganization.md
  docs/rfcs/three-tier-tokens.md
  eslint.config.js
  examples/tokens.json
  lefthook.yml
  package.json
  scripts/check-math.ts
  scripts/update-vendor.ts
  site/astro.config.mjs
  site/src/content/docs/advanced/composition-algebra.mdx
  site/src/content/docs/advanced/reactive-pipeline.mdx
  site/src/content/docs/guides/linting.mdx
  src/cli/commands/import.ts
  src/cli/index.ts
  src/lib/importers/dtcg.ts
  vendor/vendor.json
Due: format, lint, security

chore: complete architecture and axiom audit
  css/utilities.css
  docs/agent-context/current/audit-report.md
  docs/agent-context/current/implementation-plan.md
  docs/agent-context/current/task-list.md
  docs/agent-context/current/walkthrough.md
  docs/agent-context/history/completed-epochs.md
  docs/agent-context/plan-outline.md
  implementation-plan.md
Due: format, security

feat(builder): add export preview tab
  docs/agent-context/current/task-list.md
  docs/agent-context/current/walkthrough.md
  knip.ts
  site/src/components/builder-v2/StagePanel.svelte
  site/src/components/builder-v2/stage/ExportView.svelte
  site/src/lib/state/BuilderState.svelte.ts
  src/cli/commands/export.ts
  src/lib/exporters/tailwind.ts
  src/lib/index.ts
  src/lib/inspector/overlay.ts
Due: format, lint, security, tokens

chore: prepare for release (lint, test, config cleanup)
  docs/agent-context/changelog.md
  docs/agent-context/current/implementation-plan.md
  docs/agent-context/current/task-list.md
  docs/agent-context/current/walkthrough.md
  docs/agent-context/plan-outline.md
  package.json
  scripts/check-security.ts
  scripts/surface-lightness.config.json
  scripts/surface-lightness.schema.json
  site/src/components/builder-v2/stage/ExportView.svelte
  src/lib/__tests__/build.test.ts
  src/lib/exporters/typescript.ts
  src/lib/inspector/overlay.ts
  tests/golden-masters/theme.ts
  theme.ts
Due: format, lint, security, tokens

chore: ignore svelte-check in knip
  css/index.css
  css/theme.css
  knip.ts
  package.json
  pnpm-lock.yaml
  site/astro.config.mjs
  site/package.json
  src/cli/commands/audit.ts
  tests/golden-master.spec.ts
Due: format, lint, security

fix: svelte check errors final
  site/src/components/HueShiftVisualizer.svelte
  site/src/components/algebra/ContrastStabilityDemo.svelte
  site/src/components/algebra/SurfaceOperatorDemo.svelte
Due: format, lint, security

ci: build eslint-plugin before linting
  .github/workflows/ci.yml
Due: format, security

test: format golden master output with prettier before comparison
  tests/golden-master.spec.ts
Due: format, lint, security

Path conditions:
  format: any of: *.{ts,js,json,md,yml,css,svelte,astro}
  lint: any of: *.{ts,js,svelte,astro}
  security: any of: *
  tokens: any of: site/src/components/builder-v2/**/*
